<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="logout()">
        Logout
      </button>
    </ion-buttons>
    <ion-title>Price Compare</ion-title>
    <ion-buttons end>
      <button ion-button (click)="options(enabledShops)">
        Options
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="getItems()">
        <ion-item>
          <ion-input type="search" placeholder="Search" clearInput name="Searchbar" [(ngModel)]="SearchValue"></ion-input>
          <ion-icon name="search" item-left></ion-icon>
        </ion-item>
      </form>
      <ion-list>
        <ion-item (click)="presentModal(item)" *ngFor="let item of ItemDisplayList">
          <ion-avatar *ngIf="item.Thumbnail" item-left>
            <img src={{item.ThumbURL}}>
          </ion-avatar>
          <p>{{ item.Title }}</p>
          <p>${{ item.Price }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
