<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="logout()">
        Logout
      </button>
    </ion-buttons>
    <ion-title>Price Compare</ion-title>
    <ion-buttons end>
      <button ion-button (click)="options()">
        Options
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="getItems()">
        <ion-item>
          <ion-input type="search" placeholder="Search" clearInput name="Searchbar" [(ngModel)]="SearchValue"></ion-input>
          <ion-icon name="search" item-left></ion-icon>
        </ion-item>
      </form>
      <ion-list>
        <ion-item *ngFor="let item of ItemDisplayList">
          <ion-avatar *ngIf="item.ImagePresent" item-left>
            <img src="http://i.imgur.com/3gqzZvL.png">
          </ion-avatar>
          <p>{{ item.Title }}</p>
          <p>{{ item.Price }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div *ngIf=false>
  <ion-card>
    <ion-card-header>
      Amazon
    </ion-card-header>
    <ion-card-content>
      <button ion-button (click)="Amazon()">Amazon</button>
        <ion-card>
          <ion-card-content>
            {{AmazonText}}
          </ion-card-content>
        </ion-card>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Bestbuy
    </ion-card-header>
    <ion-card-content>
      <button ion-button (click)="Bestbuy()">Bestbuy</button>
        <ion-card>
          <ion-card-content>
            {{BestbuyText}}
          </ion-card-content>
        </ion-card>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Ebay
    </ion-card-header>
    <ion-card-content>
      <button ion-button (click)="Ebay()">Ebay</button>
        <ion-card>
          <ion-card-content>
            {{EbayText}}
          </ion-card-content>
        </ion-card>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      Walmart
    </ion-card-header>
    <ion-card-content>
      <button ion-button (click)="Walmart()">Walmart</button>
        <ion-card>
          <ion-card-content>
            {{WalmartText}}
          </ion-card-content>
        </ion-card>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Newegg
    </ion-card-header>
    <ion-card-content>
      <button ion-button (click)="Newegg()">Newegg</button>
        <ion-card>
          <ion-card-content>
            {{NeweggText}}
          </ion-card-content>
        </ion-card>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Radioshack
    </ion-card-header>
    <ion-card-content>
      <button ion-button (click)="Radioshack()">Radioshack</button>
        <ion-card>
          <ion-card-content>
            {{RadioshackText}}
          </ion-card-content>
        </ion-card>
    </ion-card-content>
  </ion-card>

  </div>

</ion-content>
